@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-geist-mono: var(--font-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
  antialiased: true;
}

:root {
  color-scheme: dark;
}

* {
  scrollbar-color: #27272a transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  /* zinc-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
  /* zinc-700 */
}